h1.site-title {
  font-size: 20px;
  font-weight: 700;
  margin: 50px 0 25px;
}

table#accounts {
  border-collapse: collapse;
}

table#accounts, th, td {
  border: 1px solid #cccccc;
}

th {
  padding: 5px 10px;
}

td {
  padding: 0 !important;
}

td.delete i {
  color: red;
  cursor: pointer;
  font-size: 24px;
  margin: 10px -1px 10px 13px;
}

input[type=text],
input[type=number] {
  border: none;
  padding: 10px 15px;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#rowControl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 65px;
}

#newRowBtn,
#deleteRowBtn {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
}

#newRowBtn {
  color: #00B300;
}

#newRowBtn:hover {
  color: #006B00;
}

#deleteRowBtn {
  color: #FF4646;
}

#deleteRowBtn:hover {
  color: #B23131;
}
